body {
    padding: 0;
    margin: 0;
    background-size: 100%;
}
.container {
    background:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "section section"
    "footer footer";

}
/* HEADER */
.header {
    background: rgba(0, 0, 0, 0.596);
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "fas fa-car search";
    grid-area: header;
    height: 70px;
}

#carbtn {
    grid-area: car;
    justify-items: start;
    padding-left: 35px;
    padding-top: 20px;
}
.search-box {
    position: absolute;
    right: 3%;
    height: 30px;
    width: 20%;
    grid-area: search;
    background-color: seagreen;
    padding: 10px;
    border-radius: 30px;
    justify-items: flex-end;
    justify-content: flex-end; 
}
.search-btn {
    color: sienna;
    background-color: seagreen;
    height: 30px;
    border-radius: 50%;
    float: right;
    display: flex;
    /* float: right;
    display: flex;
    justify-items: end; */
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    display: inline;
    padding: 0;
    color: white;
    line-height: 30px;
    display: inline-flex;
    align-items: center;
}
::placeholder {
    color: white;
}
/* HOME DISPLAY PAGE */
section {
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(autofit,
    minmax(100px,1fr));
    grid-template-areas: 
    "sidebar main home";
}

nav {
    /* background: rgba(192, 192, 192, 0.472); */
    grid-area: sidebar;

    /* background-color: #3b5998; */
    overflow: hidden;
    /* height: 50px; */
    height: 100%;
    /* width: 0; */
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    /* padding-top: 60px; */
    transition: 0.5s;
}

.content {
    background: rgba(192, 192, 192, 0.205);
    grid-area: content;
    padding: 10px;
}

.home {
    background: rgba(56, 55, 55, 0.397);
    grid-area: home;
    padding: 10px;
    padding-top: 15%;
}

/* FOOTER */
.footer {
    background:   rgba(0, 0, 0, 0.596);
    grid-area: footer;
    text-align: center;
}

/* .sidebar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} */
nav ul{
    margin: 8px 0 0 0;
    list-style: none;
}
nav a:hover{
    background-color: #ddd;
    color: #000;
}

nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.2s;
}
/* .sidebar a:hover{
    color: white;
} */

nav .btn-close{
    /* position: absolute; */
    top: 0;
    right: 32px;
    font-size: 36px;
    justify-self: start;

}
#main{
    grid-area: main;
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    /* width: 100%; */
}