body {
    padding: 0;
    margin: 0;
    background-size: 100%;
}
.container {
    background:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "section section"
    "footer footer";

}
/* HEADER */
.header {
    background: rgba(0, 0, 0, 0.596);
    background-color: black;
    grid-area: header;
    height: 60px;
}
.search-box {
    position: absolute;
    height: 30px;
    width: 15%;
    background-color: seagreen;
    padding: 10px;
    border-radius: 40px;
}
.search-btn {
    color: sienna;
    background-color: seagreen;
    height: 30px;
    border-radius: 50%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    line-height: 30px;
    
}
::placeholder {
    color: white;
    text
}
/* HOME DISPLAY PAGE */
section {
    grid-area: section;
    display: grid;
    grid-template-columns: 110PX 1fr 2fr;
    grid-template-areas: 
    "sidebar content home";
}

.sidebar {
    background: rgba(192, 192, 192, 0.472);
    grid-area: sidebar;
}

.content {
    background: rgba(192, 192, 192, 0.205);
    grid-area: content;
    padding: 10px;
}

.home {
    background: rgba(56, 55, 55, 0.397);
    grid-area: home;
    padding: 10px;
    padding-top: 15%;
}

/* FOOTER */
.footer {
    background:   rgba(0, 0, 0, 0.596);
    grid-area: footer;
    text-align: center;
}